@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<BibleVerseBrowser.Models.BibleVerseViewModel>

<form style="padding-top: 20px; padding-bottom: 30px;" asp-action="SearchVerse">
    <fieldset>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <select class="custom-select" id="Testament" name="Testament">
                    <option selected="">Testament</option>
                    <option value="NT">New Testament</option>
                    <option value="OT">Old Testament</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="Book" name="Book">
                    <option selected="">Book</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="ChapterNumber" name="ChapterNumber">
                    <option selected="">Chapter</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="VerseNumber" name="VerseNumber">
                    <option selected="">Verse</option>
                </select>
            </div>
            <div class="col-auto">
                @*<button type="submit" class="btn btn-primary" id="searchButton">Search<div class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only">Loading...</span></div></button>*@
                <button class="btn btn-primary" type="submit" id="searchButton">
                    <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true" style="margin-right: .5rem;"></span>
                    Search
                </button>
            </div>

        </div>

    </fieldset>
</form>

<h1>@ViewBag.Result</h1>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@item.Book @item.Chapter:@item.Verse</h4>
                <p class="card-text">@item.Text</p>
            </div>
        </div>
    }
}