@{
    ViewData["Title"] = "Home Page";
}

<form style="padding-top: 20px;">
    <fieldset>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <select class="custom-select">
                    <option selected="">Testament</option>
                    <option value="1">New Testament</option>
                    <option value="2">Old Testament</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="Book" name="Book" asp-items="@(new SelectList(ViewBag.BookArray, "Id", "BookName"))"></select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="ChapterNumber" name="ChaperNumber" asp-items="@(new SelectList(string.Empty, "Id", "ChapterNumber"))"></select>
            </div>
            <div class="col-auto">
                <select class="custom-select" id="VerseNumber" name="VerseNumber" asp-items="@(new SelectList(string.Empty, "Id", "VerseNumber"))"></select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </div>
        


    </fieldset>
</form>

